# macOS
.DS_Store

# Xcode
**/DerivedData/
**/Derived/
**/xcuserdata/
**/*.xcuserstate

# SwiftPM / Tuist
**/.swiftpm/
**/.build/
**/.tuist-generated

# Rust
**/target/

# Android / Gradle
**/.gradle/
**/build/

# Artifacts
artifacts/
mobile/ios/sampleIOS/Frameworks/

# Logs / temp
*.log
*.tmp

# Env
.env
